
BINANCE_API_KEY=YSjd8Ig1KScn94iXofGwCqzMQuUGn9d556CQfwnUfDPJnjuW4MZHfhmtuQHu7vpf
BINANCE_API_SECRET=VuwQV72waeKHTMlTDwE8euEYRc5NajREiwVdYhKVq9sIPXma8iXYKoERj3WEjZaT

# Optional: flag so your script knows to use testnet
BINANCE_USE_TESTNET=true
BYBUT_USE_TESTNET=true
BYBIT_API_KEY=mvCFAMpnGPkbAVRiUk
BYBIT_API_SECRET=JMFrPYzrLKkc2jvv5QdQOC194dJ4YWcexyy2

DERIBIT_CLIENT_ID=--f5mQoS
DERIBIT_CLIENT_SECRET=ZndsL9xYHkQ35ouUwL5JtdVF60qImNfgczuVV9X_zxw
